/* You can add global styles to this file, and also import other style files */


/* ------------
A PARTIR D'ICI CE SONT DES AJOUTS AU CSS DE BASE AFIN D4OBTENIR LE RENDU VOULU
-------------*/

.mondashboard, .zonemontab, .mapagecharts, .tweetdeck, .zonebuysell {
    background-color: rgba(249, 201, 7, 0.979);
  }
  
  
  .zonemontab{
    float: left;
    width:60%;
  }
  
  .montab{
    position: relative;
    left: 5%;
    width: 90%;
    color: #FFFFFF;
  }
  
  .monbilan{
    background-color: rgb(46, 46, 46);
    position: relative;
    width: 95%;
  }
  
  .tabligne, .tabtitle{
    height: 40px;
  }
  .tabtitle{
    background-color: #505050;
  }
  
  .tabligne{
    background-color: rgb(46, 46, 46);
  }
  
  
  .zonebilan{
    margin-left: 60%;
  }
  
  .alignement{
    position: static;
    margin-left:153px;
  }
  
  h3, h1{
    color: #a8a8a8;
    margin-left: 5%;
  }
  
  .monhr{
    background-color: #a8a8a8;
    height: 5px;
    width: 90%;
  }
  
  #period-select{
    background-color:  #a8a8a8;
    position: relative;
    margin-left: 75px;
    font-size: medium;
  }

  .tweetdeck{
    height: 600px;
  }

  .zonegraph{
    width: 70%;
    position: relative;
    margin-left: 3%;
    float: left;
  }

  .zonebuysell{
    margin-left: 78%;
    height: 575px;
  }