
<div class="content">
    <div class="mondashboard">
        <img src="../../../assets/img/dogecoin-logo.png" alt="doge incon so kawai" height="60px" width="60px"/>
        <br>

        <div class="zonemontab">
            <table class="table" id="mesCryptos">
                <thead>
                  <tr class="tabtitle">
                    <th class="text-left">#</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Coin</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">1h</th>
                    <th class="text-center">24h</th>
                    <th class="text-center">7d</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let asset of Cryptos.balances; let i = index">
                        <td class="text-left"><a href="#" class="normalLink">{{i+1}}</a></td>
                        <td class="text-center"><a href="#" class="normalLink">{{asset.amount}}</a></td>
                        <td class="text-center"><a href="#" class="normalLink">{{asset.coin}}</a></td>
                        <td class="text-center"><a href="#" class="normalLink">${{asset.price}}</a></td>
                        <td class="text-center"><a href="#" class="normalLink">${{asset.total}}</a></td>
                        <td class="text-center"><a href="#" class="normalLink">{{asset.oneHourVar}}%</a></td>
                        <td class="text-center"><a href="#" class="normalLink">{{asset.twFourHourVar}}%</a></td>
                        <td class="text-center"><a href="#" class="normalLink">{{asset.sevenDaysVar}}%</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>

        <div class="zonebilan">
            <div class="monbilan">
                <br>
                <h1>Mon portefeuille</h1>
                <h3><span>Valeur totale = </span><span>${{Cryptos.portefeuille.totalUSD}}</span>
                <br><span class="alignement">=  </span><span>${{Cryptos.portefeuille.totalBTC}}</span><span> BTC</span>
                <br><span> Capital de départ = </span><span>$ 1000</span>
                <br><span> Investissements ponctuels = </span><span>$ 175</span>
                <br><span> Total investi = </span><span>$ 1175</span></h3>
                <hr class="monhr">
                <h3><span>Profits / Pertes sur </span>
                <select name="period" id="period-select">
                    <option value="">--Choisir période--</option>
                    <option value="1d">1 Jour</option>
                    <option value="7d">7 Jours</option>
                    <option value="30d">30 Jours</option>
                </select>
                <br><span>+ ou - valeure en $</span>
                <br><span>+ ou - valeure en BTC</span></h3><br>
            </div>
            <br><br>
        </div>
    </div>
</div>