<div class="content">
    <div class="zonebilan">
        <div id="portfolio_bar">
            <div id="portefeuille_infos" style="font-size: 21px; color: white;">MON PORTEFEUILLE</div>

            <div class="evo" id="portefeuille_infos"
                style="display: inline-block; font-size: 17px; align-items: center;">
                <div style="display: inline-block; color: rgba(22, 148, 22, 0.555); margin-right: 2px;">$ </div>
                <div style="display: inline-block;">{{Cryptos.portefeuille.totalUSD}} /
                    {{Cryptos.portefeuille.totalBTC}} </div>
                <div style="display: inline-block; color: rgba(255, 229, 82, 0.479); margin-left: 2px;"> BTC</div>
            </div>



            <div id="portefeuille_infos" class="evo">
                <div style="display: inline-block;">Evolution 24h :</div>
                <div id="portefeuille_evo_24h" style="color: #2dd794; margin-left: 5px; display: inline-block;">+ 6.34%
                </div>
            </div>

        </div>
    </div>
    <div class="zonemontab">
        <table class="table" id="mesCryptos">
            <thead id="block">
                <tr class="tabtitle">
                    <th class="text-left">#</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Coin</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">1h</th>
                    <th class="text-center">24h</th>
                    <th class="text-center">7d</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let asset of Cryptos.balances; let i = index">
                    <td class="text-left"><a href="#" class="normalLink">{{i+1}}</a></td>
                    <td class="text-center"><a href="#" class="normalLink">{{asset.amount}}</a></td>
                    <td class="text-center"><a href="#" class="normalLink">{{asset.coin}}</a></td>
                    <td class="text-center"><a href="#" class="normalLink">${{asset.price}}</a></td>
                    <td class="text-center"><a href="#" class="normalLink">${{asset.total}}</a></td>
                    <td class="text-center"><a href="#" class="normalLink-var">{{asset.oneHourVar}}%</a></td>
                    <td class="text-center"><a href="#" class="normalLink-var">{{asset.twFourHourVar}}%</a></td>
                    <td class="text-center"><a href="#" class="normalLink-var">{{asset.sevenDaysVar}}%</a></td>
                </tr>

            </tbody>

        </table>
        <br>
    </div>

</div>