
<div class=" content">
  <div class="zonegraph">
    <div id="chartBig1"> </div>
  </div>
  <div class="zonebuysell">
    <div class="card" style="width: 110%;">
      <div class="card-body">
        <button class="btn btn-default animation-on-hover" type="button">Achat</button>
        <button class="btn btn-default animation-on-hover" type="button">Vente</button>
        <p>
          <FONT size="4pt"><br><span>Vous Possédez : </span><span>XXXX de Y crypto</span><br><br>
        <span>Quantité : </span><span>still bugged</span><br><br>
        <span>Prix : </span><span>un prix</span><br><br>
        <span>Total : </span><span>un total</span><br><br></FONT></p>
        <button class="btn btn-primary animation-on-hover" type="button" style="margin-left: 5px;">Effectuer l'opération</button>
      </div>
    </div>
  </div>
    <!--
    <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Charts</h5>
              <h2 class=" card-title">BTC/USDT</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />
    
                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    1m
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />
    
                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    5m
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />
    
                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    15m
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <div id="chartBig1"> </div>
            </div>
        </div>
      </div>-->
  </div>


