
<div class=" content">
  
  <div id = "chart">
    <div class="zonegraph">
      <div id="graph_top_bar">
        <div id="graph_setting">
            <form id="formAsset">
              <input id="chosenAsset" type="text" value="" placeholder="{{asset}}">
              <button id="assetButton" >GO</button>
            </form>
        </div>

        <div style="margin-left: 20px; margin-right: 20px;">
          <button class="button" (click)="changeInterval('1m')">
            <div class="button__content">
              <p class="button__text" id="int1m">1m</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('5m')">
            <div class="button__content">
              <p class="button__text" id="int5m">5m</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('1h')">
            <div class="button__content">
              <p class="button__text" id="int1h">1h</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('6h')">
            <div class="button__content">
              <p class="button__text" id="int6h">6h</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('12h')">
            <div class="button__content">
              <p class="button__text" id="int12h">12h</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('1d')">
            <div class="button__content">
              <p class="button__text" id="int1d">1d</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('1w')">
            <div class="button__content">
              <p class="button__text" id="int1w">1w</p>
            </div>
          </button>
          <button class="button" (click)="changeInterval('1M')">
            <div class="button__content">
              <p class="button__text" id="int1M">1M</p>
            </div>
          </button>
        </div>


        <div id="evo_div">

          <div id="resp_graphevo">
            <div style="display: inline-block;">Paire :</div> 
            <div class="evo" style="color: #d1d1d2;">{{asset}}/USDT</div>
          </div>

          <div id="resp_graphevo">
            <div style="display: inline-block;">Prix :</div> 
            <div class="evo" style="color: #d1d1d2;" id="assetPrice">${{crypto.price}}</div>
          </div>

          <div>
            <div style="display: inline-block;">1h :</div>
            <div class="evo" [ngStyle]="{'color': crypto.price_change_1h > 0 ? '#2dd794' : '#e61e42'}">{{crypto.price_change_1h}}%</div>
          </div>

          <div>
            <div style="display: inline-block;">24h :</div>
            <div class="evo" [ngStyle]="{'color': crypto.price_change_24h > 0 ? '#2dd794' : '#e61e42'}">{{crypto.price_change_24h}}%</div>
          </div>

          <div id="resp_graphevo">
            <div style="display: inline-block;">7d :</div>
            <div class="evo" [ngStyle]="{'color': crypto.price_change_7d > 0 ? '#2dd794' : '#e61e42'}">{{crypto.price_change_7d}}%</div>
          </div>

          <div id="resp_graphevo">
            <div style="display: inline-block;">30d :</div> 
            <div class="evo" [ngStyle]="{'color': crypto.price_change_30d > 0 ? '#2dd794' : '#e61e42'}">{{crypto.price_change_30d}}%</div>
          </div>

        </div>
      </div>

      <div id="chartBig1"></div>


    </div>
      
  
    
    <div class="zonebuysell">
      <div id="achat_vente">

        <div class="column_achat_vente">

          <form>
            <div style="display: flex; flex-direction: row;">
              <div style="white-space: nowrap;">USDT : </div> 
              <input id="inputAchatUSDT" class="inputAchatVente" type="Montant" placeholder="Montant" autocomplete="off" required>
            </div>
            
            <div style="display: flex; flex-direction: row;">
              <div style="white-space: nowrap;">{{asset}} : </div>
              <input id="inputAchatAsset" class="inputAchatVente" type="Total" placeholder="{{amount}}" autocomplete="off" required>
            </div>
            
            <input type="submit" id="acheter" value="Acheter">
          </form>
        </div>

        <div class="column_achat_vente">

          <form>
            <div style="display: flex; flex-direction: row;">
              <div style="white-space: nowrap;">{{asset}} : </div>
              <input id="inputVenteAsset" class="inputAchatVente" type="Montant" placeholder="{{amount}}" autocomplete="off" required>
            </div>

            <div style="display: flex; flex-direction: row;">
              <div style="white-space: nowrap;">USDT : </div> 
              <input id="inputVenteUSDT" class="inputAchatVente" type="Total" placeholder="Total" autocomplete="off" required>
            </div>

            <input type="submit" id="vendre" value="Vendre">
          </form>

        </div>
      </div>
    </div>
  </div>
  </div>